<div class="wrapper-bg d-flex animate__animated animate__fadeIn">
  <div class="login-card">
    <mat-card class="m-2">
      <mat-card-title>Signup</mat-card-title>
      <mat-card-subtitle>Please Enter your Email & Password</mat-card-subtitle>

      <form
        [formGroup]="redemptionOfYearsForm"
        (ngSubmit)="onSubmit()"
        class="mt-4"
      >
        <formly-form
          [model]="redemptionOfYearsFormModel"
          [fields]="redemptionOfYearsFormConfig"
          [form]="redemptionOfYearsForm"
        ></formly-form>
      </form>
      <button
        mat-flat-button
        class="mt-3 col-12 btn-primary"
        [disabled]="this.redemptionOfYearsForm.invalid"
      >
        Sign in
      </button>
      <a class="col-12 mt-4 a-style-Forget">Forget Password?</a>
      <div class="a-style-signup m-2">
        Do have an accoun?
        <a
          class="col-12 a-style-signup cursor-pointer"
          [routerLink]="['../login']"
          >Login</a
        >
      </div>
    </mat-card>
  </div>
  <div class="bg-img"></div>
</div>
