<div class="row">
  <div class="col-5" style="background-color: #24292e">
    <div class="container">
      <mat-card class="m-2">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <form
          class="example-form"
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" />
          </mat-form-field>
        </form>
        <form
          [formGroup]="redemptionOfYearsForm"
          (ngSubmit)="onSubmit()"
          class="mt-4"
        >
          <formly-form
            [model]="redemptionOfYearsFormModel"
            [fields]="redemptionOfYearsFormConfig"
            [form]="redemptionOfYearsForm"
          ></formly-form>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-7 back-image">
    <div class="container">sdadasda</div>
  </div>
</div>
