/* .h-100{
    height: ;undraw_counting_stars_rrnl
} */
.wrapper-bg {
  height: 100vh;
}

.login-card {
  flex: 1;
  background-color: #0072b5;
  clip-path: ellipse(98% 86% at 88% 17%);
}

.bg-img {
  height: 100vh;
  flex: 1;
  background-image: url("../../../images/undraw_authentication_fsn5.svg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 70%;
  width: 50%;
  transform: rotateY(180deg);
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: 40px;
}

/* .height-100v {
  height: 100vh;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  border: 5px;
  border-radius: 20px;
}
/* .btn-facebook {
  padding: 7px;
  color: #fff;
  background: #3b5998;
  border-color: #3b5998;
  font-weight: 400;
}
.btn-google {
  padding: 7px;
  color: #fff;
  background: #ea4335;
  border-color: #ea4335;
  font-weight: 400;
}
.btn-twitter {
  padding: 7px;
  color: #fff;
  background: #3b5998;
  border-color: #3b5998;
  font-weight: 400;
} */

.a-style-Forget {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  text-align: left;
  font-size: 12px;
  margin-top: 3rem;
  cursor: pointer;
}
.a-style-signup {
  font-family: "Roboto", sans-serif;
  color: #6c757d;
  text-align: left;
  font-size: 12px;
  padding: 0px 5px;
}
.cursor-pointer {
  cursor: pointer;
}
/* body {
  background-color: #fafafa;
}  */
