<div class="wrapper-bg d-flex animate__animated animate__fadeIn">
  <div class="bg-img"></div>
  <div class="login-card mt-3">
    <mat-card class="m-2 ">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please Enter your Email & Password</mat-card-subtitle>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="mt-4"
      >
        <formly-form
          [model]="loginFormModel"
          [fields]="loginFormConfig"
          [form]="loginForm"
        ></formly-form>
        <button
        type="submit"
        mat-flat-button
        class="mt-3 col-12 btn-primary"
        [disabled]="this.loginForm.invalid"
      >
        Login
      </button>
      <a class="col-12 mt-4 a-style-Forget">Forget Password?</a>
      <div class="a-style-signup m-2">
        Don’t have an account?
        <a
          class="col-12 a-style-signup cursor-pointer"
          [routerLink]="['../singup']"
          >Sign up</a
        >
      </div>
    </form>
    </mat-card>
  </div>
</div>
