<div class="container pt-5 animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 pt-4" *ngFor="let item of product">
      <div class="card"    >
        <img
          class="card-img"
          mat-card-image
          src="{{ IMAGE_URL + item.image_name }}"
        />
        <div class="hover-bg-color">
          <span class="view-more" (click)="onClinkToDetaliPage(item)"
            >VIEW MORE</span
          >
        </div>
        <div class="detail-card">
          <span class="prod-name col-8" matTooltip={{item.productname}}>{{
            item.productname | ellipsis: 10
          }}</span>
          <span class="prod-price col-4">
            <span class="prod-price" >{{item.productprice}}</span>
            
          </span>
          <span class="prod-category">{{
            item.categoryproductname | ellipsis: 16
          }}</span>
              <button mat-button class="ml-2 add-btn" matTooltip='Add to cart '>
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card m-2">
  <mat-card-title>{{ item.productname }}</mat-card-title>
  <mat-card-subtitle>{{ item.categoryproductname }}</mat-card-subtitle>
<img
  mat-card-image
  src="{{ IMAGE_URL + item.image_name }}"
  alt="Photo of a Shiba Inu"
/>
<mat-card-content>
  <mat-card>
    <p>
      {{ item.productdescription | ellipsis: 300}}
    </p>
  </mat-card>
  <h5>
    {{ item.productprice }}
  </h5>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Add</button>
  <button mat-button (click)="onClinkToDetaliPage(item)">
    Watch more
  </button>
</mat-card-actions>
</div>
</div> -->
</div>
