<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of product">
      <mat-card class="card m-2">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ item.productName }}</mat-card-title>
          <mat-card-subtitle>{{ item.categoryProduct }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ item.ProductImageUrl }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-card>
            <p>
              {{ item.descriptionProduct }}
            </p>
          </mat-card>
          <h1>
            {{ item.priceProduct }}
          </h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Add</button>
          <button mat-button (click)="onClinkToDetaliPage(item)">
            Watch more
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
