.nav-background {
  background-color: #373538;
}
a {
  color: white;
  font-weight: 300;
}
.menu-btn {
  color: white;
  font-weight: 300;
}
.mat-icon-size {
  font-size: 18px;
  color: white;
}
.name-menu-btn {
  margin-left: auto;
}
.d-inherit {
  display: inherit;
}
.d-flex{
  display: flex !important;
}
.padding-0 {
  padding: 0px;
}
.phone-menu {
  display: none;
}
@media screen and (max-width: 750px) {
  button.menu-btn {
    display: none;
  } 
  input {
    display: none;
  }
  button.navbar-brand {
    text-align: center;
  }
  button.phone-menu {
    display: inline-block;
  }
}
@media screen and (max-width: 320px) {
  button.phone-menu {
    margin-right: 3rem !important;
  }
}
.mr-6 {
  margin-right: 4rem !important;
}
.width-200 {
  width: 300px;
}
.account-btn{
    font-weight: 500;
}