<div>
<nav class="navbar navbar-expand-sm nav-background fixed-top">
  <button class="menu-btn phone-menu mr-6" mat-button [matMenuTriggerFor]="phoneMenu"><mat-icon class="mat-icon-size">menu</mat-icon> </button>
  <mat-menu #phoneMenu="matMenu">
    <button mat-menu-item *ngFor="let item of categoryArr">{{ item.categoryproductname }}</button>
    
  </mat-menu>
  <a class="navbar-brand" [routerLink]="['/online-shop/products/product-list']" routerLinkActive="router-link-active" >Online Shop</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="menu-btn" mat-button ><mat-icon>link</mat-icon> name </button>

    </li>
    <li class="nav-item">
      <button class="menu-btn" mat-button ><mat-icon>link </mat-icon> name </button>

    </li>

    <li class="nav-item dropdown">
      <button class="menu-btn" mat-button [matMenuTriggerFor]="ca"><mat-icon class="mat-icon-size">category</mat-icon> category </button>
      <mat-menu #ca="matMenu">
        <button mat-menu-item *ngFor="let item of categoryArr">{{ item.categoryproductname }}</button>
        
      </mat-menu>
    

     
      <div class="dropdown-menu"></div>
    </li>
  </ul>
  <div class="name-menu-btn d-inherit">
  <button class="menu-btn name-menu-btn" mat-menu-item *ngIf="false"> <mat-icon class="mat-icon-size">login</mat-icon>Login </button>

  </div>
  <button *ngIf="true" class="menu-btn name-menu-btn mr-2" mat-button [matMenuTriggerFor]="menu"> {{this.nickname}} <mat-icon class="mr-2">menu</mat-icon> </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</nav>
</div>

