<div class="row pt-4">
  <div class="col-lg-5 col-md-12 wrapper">
    <img
      *ngIf="!pending"
      class="prod-img"
      mat-card-image
      src="{{ IMAGE_URL + selectedProduct.image_name }}"
    />
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="d-grid mt-6">
    
      <p class="prod-name p-0">
        {{ selectedProduct.productname }}
      </p>
      <span class="prod-category">
        {{ selectedProduct.categoryproductname }}</span
      >
      <p class="prod-price">{{ selectedProduct.productprice }}</p>
      <button mat-button class="col-lg-3 col-md-12 mt-4 add-btn">
        ADD TO CART <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <p class="prod-desc" [ngClass]="{ limitTextHeight: minimize   }">
        {{ selectedProduct.productdescription }}
      </p>

      <div *ngIf="showReadMore">
        <span class="read-more" *ngIf="minimize" (click)="minimize = !minimize"
          >Read More
        </span>
        <span class="read-more" *ngIf="!minimize" (click)="minimize = !minimize"
          >Minimize
        </span>
      </div>
    </div>
  </div>
  <div>
    <mat-card-actions> </mat-card-actions>
  </div>
</div>
